
.task {
    margin-left: -4px;
    padding: 0;
}

.task .uk-checkbox {
    position: absolute;
    margin-top: 6px;
}

.task label {
    cursor: pointer;
}

.task label span.caption {
    padding: 4px 15px 4px 25px;
    display: inline-block;
}

.task label span.caption span.label {
    text-decoration: none;
    background: none!important;
    border: none;
    padding: 0!important;
}

.task label:hover span.caption span.label {
    text-decoration: underline;
}

.task.completed label span.caption span.label {
    text-decoration: line-through;
    color: #abc;
}

.task label span.caption span.controls a {
    padding: 0 2px;
    display: inline-block;
    color: #444;
}

.task label span.caption span.controls {
    visibility: hidden;
}

.task label span.caption:hover span.controls {
    visibility: visible;
}
