<div class="tasklist">

    <div ng-if="projectLayout == '1-column'">
        <task ng-repeat="task in tasklist" task="task"></task>
    </div>

    <div
        class="uk-grid uk-grid-small"
        ng-if="projectLayout == '2-column'"
        >
        <div class="uk-width-medium-1-2">
            <task ng-repeat="task in tasklist12" task="task"></task>
        </div>
        <div class="uk-width-medium-1-2">
            <task ng-repeat="task in tasklist22" task="task"></task>
        </div>
    </div>

</div>