

.widget-item
{
    position: relative;
}

.widget-item .title
{
    margin-left: 18px;
}

.widget textarea.edit
{
    width: 100%;
    height: 220px;
    padding: 4px;
    border: 1px solid #ccc;
}

.uk-panel-title
{
    margin-bottom: 5px;
}

.widget-plus .uk-panel
{
    width: 12px;
}

.widget-plus .uk-panel:hover
{
    cursor: pointer;
}

.uk-fixed-navigation
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1009;
}

.uk-margin-bottom
{
    margin-bottom: 10px !important;
}

.uk-container
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.uk-checkbox {
    width: 15px;
    height: 15px;
    vertical-align: -2px;
}

.widget-body {
    line-height: 18px;
}

.uk-navbar {
    box-shadow: 0 0 6px #abc;
    border-bottom: 1px solid #abc;
}

.uk-panel-box-secondary {
    background-color: #f8f7f6;
}

.uk-button-small {
    font-size: 14px;
}
